body {
  background-color: white;
  zoom: 90%;
}

.header_dash {
height: 110px;
border-bottom-left-radius: 16px;
border-bottom-left-radius: 16px;
border-top-right-radius: 0px;
border-top-left-radius: 0px;
}
