.body{
  margin-top: 0;
}

.btn-light{
  background-color: transparent;
  color: #DCDCDC !important;
  &:hover{
    opacity: 0.5;
    text-decoration: none;
    color: black !important;;
  }
}

.form-group{
    margin-bottom: 0;
}

.inscrire{
  background: #FFFFFF;
  border: 1px solid #3F3D56;
  box-sizing: border-box;
  border-radius: 10px;
}

.remember{
  color: #DCDCDC !important;
}

p {
  margin-bottom: 0px;
}


// Specific CSS for your home-page
