.header {
height: 200px;
display: flex;
align-items: center;
justify-content: center;
border-bottom-left-radius: 16px;
border-bottom-left-radius: 16px;
border-top-right-radius: 0px;
border-top-left-radius: 0px;
}

.body{
  margin-top: 0;
}

.btn-light{
  background-color: transparent;
  color: #DCDCDC !important;
  &:hover{
    opacity: 0.5;
    text-decoration: none;
    color: black !important;;
  }
}

.form-group{
    margin-bottom: 0;
}

.form-control {
  border: none;
  border-bottom: 1px solid #D1D1D1;
  border-radius: 8px;
}

.inscrire{
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 10px;
}

.remember{
  color: #DCDCDC !important;
  font-size: 15px;
}

p {
  margin-bottom: 0px;
}

body {
  background-color: white;
  zoom: 90%;
}




// Specific CSS for your home-page

button {
  text-decoration: none;
}

.pouce {

}
.dps {
position: relative;
top: -10px;
left: 80px;
text-align: center;
width: 140px;
background: #EEBE58;
//box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.40);
border-radius: 5px;
font-family: Avenir Next;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 36px;
color: #EDEDED;
padding: 0px;
text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.25);
transition: 0.8s;
opacity: 0.8;
text-decoration: none;
  a {
    color: #EDEDED;
  text-decoration: none;
}
}

.dps:hover {
  transition: 0.5s;
  box-shadow: 15px 5px 4px rgba(0, 0, 0, 0.25);
  padding: 2px;
  border-radius: 15px;
  opacity: 1;
  font-size: 24px;
  top: -13px;
  left: 60px;

  a {
  text-decoration: none;
  color: #FFFFFF;
}
}

.rcc {
position: relative;
top: -10px;
left: 130px;
text-align: center;
background: #BD323E;
//box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.40);
border-radius: 5px;
width: 160px;
font-family: Avenir Next;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 36px;
padding: 0px;
text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.25);
opacity: 0.8;
transition: 0.8s;
text-decoration: none;
  a {
  color: #EDEDED;
  text-decoration: none;
}
}

.rcc:hover {
  top: -13px;
  left: 110px;
  transition: 0.5s;
  box-shadow: 15px 5px 4px rgba(0, 0, 0, 0.25);
  padding: 2px;
  border-radius: 15px;
  opacity: 1;
  font-size: 24px;
  color: #FFFFFF;
  text-decoration: none;
  // transform: rotate(360deg);
  a {
  color: #FFFFFF;
  text-decoration: none;
}
}


.emailss {
  opacity: 0.7;
  border-radius: 15px;
  height: 25px;
  color: lightgrey;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  transition: 1s;
  width: 150px;
}
.emailss:hover {
  opacity: 1;
  width: 220px;
}
.passwordss {
  opacity: 0.7;
  border-radius: 8px;
  height: 25px;
  color: lightgrey;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  transition: 1s;
  width: 120px;
}
.passwordss:hover {
  opacity: 1;
  width: 170px;
}

.form-for-inscription {
  float: right;
  margin-right: 110px;
  position: relative;
  top: -36px;
  // position: relative;
  // left: 750px;
  // margin: auto;
  // padding: auto;
  padding-left: 10px;
  padding-right: 10px;
  text-shadow: 1px 1px 3px gray;
}

.login {
  border-radius: 16px;
}

.img-deposting {
  // margin-top: 80px;
  position: relative;
  margin: auto;
  float: left;
  display: block;
}
.img-searching {

  // margin-top: 80px;
  // margin-left: 300px;
  float: left;
  padding: 20px;
  margin: auto;
}

.column {
  float: left;
  width: 100%;
 text-align: center;
 margin: auto;
}

h2 {
  font-size: 28px;
}

.titre-inscription {
  border-radius: 8px;
  padding:2px;
  font-size: 16px;
  color: white;
  background-color: #F0F0F0;
  //background: linear-gradient(90deg, rgba(21, 17, 224, 0.26) 23.99%, rgba(13, 11, 149, 0.23) .59%), #EEBE58;
}

.titre-cdp {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  position: absolute;
  top: 9%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  flex-direction: column;
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.form-ss {
  position: absolute;
  float: right;
  right: 9%;
  top: 2%;
  zoom: 92%;
}







