.bodyedit {
background: linear-gradient(90deg, rgba(241, 191, 78, 0.35) 0%, rgba(241, 102, 71, 0.35) 41.61%, rgba(189, 50, 62, 0.59) 79.9%), url("modifiermission.png") fixed;
background-position: bottom;
background-size: 100%;
background-repeat: no-repeat;
min-height: 100%;
}