.bouton-registration {
	transition: 1s;
	font-size: 15px;
	color: lightgray;
	background-color: rgba(238, 190, 88, 1);
	background: linear-gradient(90deg, rgba(21, 17, 224, 0.36) 23.99%, rgba(13, 11, 149, 0.53) 92.59%), #EEBE58;
	&:hover {
	color: white;
	transition: 0.5s;
	opacity: 1;
	background-color: #FF7F00;
	font-size: 17px;
    box-shadow: 12px 8px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 11px;
	}
}

.btn-session {
	background-color: #D94A75;
	border-radius: 8px;
	opacity: 0.5;
	color: white;
	transition: 1s;
	&:hover {
		transition: 0.4s;
		opacity: 1;
		color: white;
		font-size: 18px;
		box-shadow: 5px 5px 8px #383838;

	}
} 

.btn-forgot {
	opacity: 0.5;
	border-radius: 8px;
	border: none;
}


.btn-new-mission {
text-align: center;
width: 100%;
background: #EEBE58;
border-radius: 5px;
font-weight: 600;
font-size: 22px;
line-height: 36px;
color: white;
transition: 0.8s;
opacity: 0.9;
text-decoration: none;
color: white;
margin: auto;
top: 100px;
}

.btn-new-mission:hover {
  padding: 10px;
  transition: 0.5s;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  opacity: 1;
  font-size: 25px;
  color: white;
  text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.35);
}


.btn-dashboard {
	position:relative;
	bottom: -40px;
	left: 40px;
	background-color: #858585;
	border-radius: 12px;
	opacity: 0.5;
	color: white;
	transition: 1s;
	padding: 10px;
	font-size: 14px;
	&:hover {
		transition: 0.4s;
		opacity: 0.8;
		color: white;
		font-size: 18px;
		box-shadow: -5px 5px 8px #CD1351;
		border-radius: 16px;
		text-decoration: none;
		font-size: 16px;
	}

}


