.card-product {
  overflow: hidden;
  height: 100px;
  width: 470px;
  background: white;
  display: grid;
  grid-template-columns: 1fr;
  flex-grow: 1;
  float: left;
  margin: 10px;
  border-radius: 30px;
  transition: 0.5s;
  color: #BD323E;
  border: 2px solid #BD323E;
  margin-left: 70px;
}
.card-product:hover {
  height: 105px;
  width: 475px;
  border-radius: 30px;
  box-shadow: 12px 7px 4px lightgray;
  transition: 0.5s;
  font-size: 18px;
  margin-left: 65px;
  margin-bottom: 3px;


}

.flex {
    display: flex;
    justify-content: space-between;
    color: #BD323E;
}

.d-flex{
    display: flex;
    justify-content: space-between;
}

.card-product span {
    background: #FFFFFF;
    border: 1px solid #BD323E;
    box-sizing: border-box;
    border-radius: 5px;
    color: #D15353
}


.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #D15353;
  color:none;

}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  padding-right: 75px;

}

.card-product .card-product-infos {
  padding: 16px;

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

}

a {
  color: #BD323E
}

.map-mission {
  //margin-right: 100px;
  top: 105px;
  position: sticky;
  zoom: 150%;
}

#map {
  border-radius: 24px;
  box-shadow: 4px 4px 2px lightgray;
}
