.card-product {
  overflow: hidden;
  height: 120px;
  width: 470px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: grid;
  grid-template-columns: 1fr;
  flex-grow: 1;
  float: left;
  margin: 10px;
  border-radius: 30px;
  transition: 0.5s;

}
.card-product:hover {
  height: 150px;
  width: 485px;
  border-radius: 30px;
  box-shadow: 0 0 15px #D15353;
  transition: 0.5s;


}

.flex {
    display: flex;
    justify-content: space-between;
    color: #BD323E;
}

.d-flex{
    display: flex;
    justify-content: space-between;
}

.card-product span {
    background: #FFFFFF;
    border: 1px solid #BD323E;
    box-sizing: border-box;
    border-radius: 5px;
}


.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #D15353;
  color:none;

}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  padding-right: 75px;

}

.card-product .card-product-infos {
  padding: 16px;

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

}
