.mapboxgl-popup {
  max-width: 200px;
}


.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}


#map {
  border: 1px solid red;
  width: 540px;
  height: 400px;
  position: sticky;
  top: 0;
  float: right;

}
