<div class="header">
  <div class="container d-flex">
    <h1> coup <br>
      de <br>
    pouce</h1>
  </div>
</div>


        <div class='row'>
          <div class='col-6'>
            <% @missions.each do |mission| %>
             <ul>
              <div class="card-product">
                <div class="card-product-infos">
                <h2><%= link_to mission.title, mission_path(mission) %></h2>
                <p>Product description with <strong>relevant info</strong> only.</p>
                </div>
              </div>
             </ul>
            <% end %>
          </div>

          <div class='col-6'>
            <div
              id="map"
              data-markers="<%= @markers.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
            ></div>
          </div>
        </div>
</div>

<%#= render 'form', mission: @mission %>
