<h1> <%= @mission.title %></h1>
<ul><%#@mission.description.each do |mission|%>
  <li><%= @mission.description %>
  </li>
<%#end %>

<ul>
<%= link_to "<< see All missions",  missions_path(@mission), class: "btn btn-primary"%>
</ul>

</ul


